[workspace]
resolver = "3"
members = ["crates/orchestrator-core", "crates/orchestrator-blocks", "crates/orchestrator-examples", "./poc", "crates/orchestrator-ai-harness"]

[workspace.package]
version = "0.1.0"
edition = "2024"
rust-version = "1.93"
license = "MIT"
